
<!DOCTYPE html>
<html>
<head>
  <title>Appcmt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag 'http://code.jquery.com/jquery-latest.min.js' %>

</head>


<div id="bg">
  <%= image_tag("hands2.jpg", :alt => "rss feed") %>
</div>
