<div class="container">
<div class="row">
<div class="col-lg-12">
<h2><b>Beneficiario:</b><span class="capitalize"><%= @voluntario.nombre %> <%= @voluntario.apellido %></span></h2>
</div>
<div class="col-lg-12">
<%= link_to 'Editar', edit_voluntario_path(@voluntario), class: 'btn btn-primary' %> 
<%= link_to 'Atras', voluntarios_path, class: 'btn btn-primary'%>
</div>
<div class="col-lg-7  custyle">
    <table class="table table-striped custab">
<thead> 
<tr>
  <th >Campos</th>
  <th >Informaci贸n</th>
</tr>
</thead>

    <tbody>
    <tr>
        <th class="thshow">Contacto:</th>
        <td class="tdshow"><%= @voluntario.contacto %></td>
    </tr> 
       <tr>
        <th class="thshow">Nombre:</th>
        <td class="tdshow capitalize"><%= @voluntario.nombre %></td>

    </tr>
    <tr>
        <th class="thshow">Apellido:</th>
        <td class="tdshow capitalize"><%= @voluntario.apellido %></td>
    </tr>
    <tr>
        <th class="thshow">Numero registro:</th>
        <td class="tdshow"> <%= @voluntario.numero_registro %></td>
    </tr>
    <tr>  
         <th class="thshow"> Fecha Registro</th>
         <td class="tdshow"><%= @voluntario.fecha_registro%></td>
    </tr>
    <tr>  
         <th class="thshow"> Fecha solicitud</th>
         <td class="tdshow"><%= @voluntario.fecha_solicitud%></td>
    </tr>
    <tr>  
          <th class="thshow">Fecha autorizacion:</th>
          <td class="tdshow"><%= @voluntario.fecha_autorizacion%></td>
    </tr>
    <tr>  
          <th class="thshow">Estado</th>
          <td class="tdshow"><%= @voluntario.estado %></td>
    </tr>
    <tr>  
          <th class="thshow">Municipio</th>
          <td class="tdshow"><%= @voluntario.municipio %></td>
    </tr>
    <tr>  
          <th class="thshow">Localidad:</th>
          <td class="tdshow capitalize"><%= @voluntario.localidad %></td>
    </tr>
    <tr>  
          <th class="thshow">Instituci贸n</th>
          <td class="tdshow capitalize"> <%= @voluntario.colonia %></td>
    </tr>
    <tr>  
          <th class="thshow">Correo electronico:</th>
          <td class="tdshow"><%= @voluntario.correo_electronico %></td>
    </tr>
    <tr>  
          <th class="thshow"> Telefono: </th>
          <td class="tdshow"><%= @voluntario.telefono %></td>
    </tr>

    <tr>  
          <th class="thshow"> Programa: </th>
          <td class="tdshow"><%= @voluntario.programa %></td>
    </tr>
    <tr>  
          <th class="thshow"> Asesor: </th>
          <td class="tdshow"><%= @voluntario.asesor %></td>
    </tr>
    <tr>  
          <th class="thshow">Aportaci贸n CMT: </th>
          <td class="tdshow"><%= @voluntario.aportacion_cmt %>  </td>
    </tr>
    <tr>  
          <th class="thshow">Aportaci贸n beneficiario: </th>
          <td class="tdshow"><%= @voluntario.aportacion_beneficiario %>  </td>
    </tr>
       
    <tr>  
          <th class="thshow">Suma de aportaciones: </th>
          <td class="tdshow"><%= @voluntario.aportacion_beneficiario + @voluntario.aportacion_cmt  if @voluntario.aportacion_beneficiario? & @voluntario.aportacion_cmt?  %></td>
    </tr>

    <tr>  
          <th class="thshow">Validacion incentivos: </th>
          <td class="tdshow"><%= @voluntario.validacionincentivos %>  </td>
    </tr>
    <tr>  
          <th class="thshow">Status: </th>
          <td class="tdshow"><%= @voluntario.status %>  </td>
    </tr>
    <tr>  
          <th class="thshow">Attachment: </th>
          <td class="tdshow"><%= link_to "", @voluntario.attachment_url, :target => "_blank", class:" glyphicon glyphicon-file"  if @voluntario.attachment?%>  </td>
    </tr>
    <tr>  
          <th class="thshow">Comentarios:  </th>
          <td class="tdshow capitalize"><%= @voluntario.comentarios %>  </td>
    </tr>
       </tbody>
    </table>
</div>












</div>

</div>
