<%= form_for(@registro) do |f| %>
  <% if @registro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registro.errors.count, "error") %> prohibited this registro from being saved:</h2>

      <ul>
      <% @registro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero %><br>
    <%= f.number_field :numero %>
  </div>
  <div class="field">
    <%= f.label :nombregrupo %><br>
    <%= f.text_field :nombregrupo %>
  </div>
  <div class="field">
  <% estados = {
      'Oaxaca' => 'Oaxaca', 'Puebla' => 'Puebla'} %>


      
    <%= f.label :estado %><br>
    <%= f.select :estado,estados %>


  </div>
  <div class="field">
    <%= f.label :municipio %><br>
    <%= f.text_field :municipio %>
  </div>
  <div class="field">
    <%= f.label :localidad %><br>
    <%= f.text_field :localidad %>
  </div>
  <div class="field">
    <%= f.label :colonia %><br>
    <%= f.text_field :colonia %>
  </div>
  <div class="field">
    <%= f.label :disponible %><br>
    <%= f.check_box :disponible %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
